import { drizzle } from 'drizzle-orm/postgres-js';
import * as schema from '../../../domain/entities/tables';
import { queryClient } from './conn';

export const dbClient = drizzle(queryClient, { schema });
