import { Event } from '@sskru/core';
import { AggregateBase } from '../aggregates';
import { Student } from '../interfaces';

export abstract class StudentEvent extends Event {
  readonly eventName: string;
  readonly aggregateName = AggregateBase.student;

  constructor(id: string) {
    super(id);
    this.eventName = this.constructor.name;
  }
}

export class StudentCreated extends StudentEvent {
  constructor(public readonly id: string, public readonly data: Student) {
    super(id);
  }
}
