import { parseEnv, port, z } from 'znv';

export const envSchema = {
  DB_USERNAME: z.string(),
  DB_PASSWORD: z.string(),
  DB_HOST: z.string(),
  DB_PORT: port(),
  DB_SSL_REQUIRED: z.enum(['0', '1']).default('0'),
};

export const envs = parseEnv(process.env, envSchema);
