export const typeDefs = `#graphql
  extend schema @link(url: "https://specs.apollo.dev/federation/v2.0", import: ["@key", "@shareable"])

  type OperationCompleted @key(fields: "id") {
    id: ID! @shareable
  }

  scalar Date
`;
